/.idea/
/bin/
*.out
coverage.txt
pkg/static/canis-apiserver_swagger.go
deploy/compose/genesis-file.yaml
deploy/compose/indy-registry.yaml
deploy/compose/aries-indy-vdri-config.yaml
config/kubeconfig.yaml
config/sirius-minikube.yaml