version: "3.3"
services:
  canis-apiserver:
    image: canislabs/canis
    command: "canis-apiserver start"
    ports:
      - "7778:7778"
      - "7779:7779"
    networks:
      - backend
    secrets:
      - source: canis-apiserver-config
        target: /etc/canis/canis-apiserver-config.yml
      - source: aries-indy-vdri-config
        target: /etc/canis/canis-aries-indy-vdri-config.yml
      - source: data-store-config
        target: /etc/canis/canis-data-store-config.yml
      - source: ledger-store-config
        target: /etc/canis/canis-ledger-store-config.yml
      - source: master-lock-key
        target: /etc/canis/canis-master-lock-key.yml
      - source: genesis-file
        target: /etc/canis/canis-genesis-file.yml
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
  canis-didcomm-issuer:
    image: canislabs/canis
    command: "canis-didcomm-issuer start"
    ports:
      - "7776:7776"
    networks:
      - backend
    secrets:
      - source: canis-didcomm-issuer-config
        target: /etc/canis/canis-issuer-config.yml
      - source: aries-indy-vdri-config
        target: /etc/canis/canis-aries-indy-vdri-config.yml
      - source: data-store-config
        target: /etc/canis/canis-data-store-config.yml
      - source: ledger-store-config
        target: /etc/canis/canis-ledger-store-config.yml
      - source: amqp-config
        target: /etc/canis/canis-amqp-config.yml
      - source: master-lock-key
        target: /etc/canis/canis-master-lock-key.yml
      - source: indy-registry
        target: /etc/canis/canis-indy-registry.yml
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
  canis-didcomm-verifier:
    image: canislabs/canis
    command: "canis-didcomm-verifier start"
    ports:
      - "7777:7777"
    networks:
      - backend
    secrets:
      - source: canis-didcomm-verifier-config
        target: /etc/canis/canis-verifier-config.yml
      - source: aries-indy-vdri-config
        target: /etc/canis/canis-aries-indy-vdri-config.yml
      - source: data-store-config
        target: /etc/canis/canis-data-store-config.yml
      - source: ledger-store-config
        target: /etc/canis/canis-ledger-store-config.yml
      - source: amqp-config
        target: /etc/canis/canis-amqp-config.yml
      - source: master-lock-key
        target: /etc/canis/canis-master-lock-key.yml
      - source: indy-registry
        target: /etc/canis/canis-indy-registry.yml
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
  canis-didcomm-doorman:
    image: canislabs/canis
    command: "canis-didcomm-doorman start"
    ports:
      - "8886:8886"
    networks:
      - backend
    secrets:
      - source: canis-didcomm-doorman-config
        target: /etc/canis/canis-doorman-config.yml
      - source: aries-indy-vdri-config
        target: /etc/canis/canis-aries-indy-vdri-config.yml
      - source: data-store-config
        target: /etc/canis/canis-data-store-config.yml
      - source: ledger-store-config
        target: /etc/canis/canis-ledger-store-config.yml
      - source: amqp-config
        target: /etc/canis/canis-amqp-config.yml
      - source: master-lock-key
        target: /etc/canis/canis-master-lock-key.yml
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
  canis-didcomm-mediator:
    image: canislabs/canis
    command: "canis-didcomm-mediator start"
    ports:
      - "10001:10001"
      - "10002:10002"
      - "10003:10003"
    networks:
      - backend
    secrets:
      - source: canis-didcomm-mediator-config
        target: /etc/canis/canis-mediator-config.yml
      - source: aries-indy-vdri-config
        target: /etc/canis/canis-aries-indy-vdri-config.yml
      - source: data-store-config
        target: /etc/canis/canis-data-store-config.yml
      - source: ledger-store-config
        target: /etc/canis/canis-ledger-store-config.yml
      - source: amqp-config
        target: /etc/canis/canis-amqp-config.yml
      - source: master-lock-key
        target: /etc/canis/canis-master-lock-key.yml
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
  canis-didcomm-cloudagent:
    image: canislabs/canis
    command: "canis-didcomm-cloudagent start"
    ports:
      - "11001:11001"
      - "11002:11002"
      - "11003:11003"
      - "11004:11004"
    networks:
      - backend
    secrets:
      - source: canis-didcomm-cloudagent-config
        target: /etc/canis/canis-cloudagent-config.yml
      - source: aries-indy-vdri-config
        target: /etc/canis/canis-aries-indy-vdri-config.yml
      - source: data-store-config
        target: /etc/canis/canis-data-store-config.yml
      - source: ledger-store-config
        target: /etc/canis/canis-ledger-store-config.yml
      - source: amqp-config
        target: /etc/canis/canis-amqp-config.yml
      - source: master-lock-key
        target: /etc/canis/canis-master-lock-key.yml
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
  canis-didcomm-lb:
    image: canislabs/canis
    command: "canis-didcomm-lb start"
    ports:
      - "9001:9001"
      - "9003:9003"
      - "9996:9996"
    networks:
      - backend
    secrets:
      - source: canis-didcomm-lb-config
        target: /etc/canis/canis-lb-config.yml
      - source: ledger-store-config
        target: /etc/canis/canis-ledger-store-config.yml
      - source: amqp-config
        target: /etc/canis/canis-amqp-config.yml
      - source: master-lock-key
        target: /etc/canis/canis-master-lock-key.yml
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
  http-indy-resolver:
    image: canislabs/canis
    command: "http-indy-resolver start"
    ports:
      - "5544:5544"
    networks:
      - backend
    secrets:
      - source: http-indy-resolver-config
        target: /etc/canis/http-indy-resolver.yml
      - source: genesis-file
        target: /etc/canis/canis-genesis-file.yml
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
  canis-webhook-notifier:
    image: canislabs/canis
    command: "canis-webhook-notifier start"
    networks:
      - backend
    secrets:
      - source: canis-webhook-notifier-config
        target: /etc/canis/canis-webhook-notifier.yml
      - source: amqp-config
        target: /etc/canis/canis-amqp-config.yml
      - source: data-store-config
        target: /etc/canis/canis-data-store-config.yml
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure

secrets:
  canis-apiserver-config:
    file: ./canis-apiserver.yaml
  canis-didcomm-issuer-config:
    file: ./canis-didcomm-issuer.yaml
  canis-didcomm-verifier-config:
    file: ./canis-didcomm-verifier.yaml
  canis-didcomm-doorman-config:
    file: ./canis-didcomm-doorman.yaml
  canis-didcomm-mediator-config:
    file: ./canis-didcomm-mediator.yaml
  canis-didcomm-cloudagent-config:
    file: ./canis-didcomm-cloudagent.yaml
  canis-didcomm-lb-config:
    file: ./canis-didcomm-lb.yaml
  canis-webhook-notifier-config:
    file: ./canis-webhook-notifier.yaml
  data-store-config:
    file: ./data-store-config.yaml
  ledger-store-config:
    file: ./ledger-store-config.yaml
  aries-indy-vdri-config:
    file: ./aries-indy-vdri-config.yaml
  http-indy-resolver-config:
    file: ./http-indy-resolver.yaml
  amqp-config:
    file: ./amqp-config.yaml
  master-lock-key:
    file: ./master-lock-key.yaml
  indy-registry:
    file: ./indy-registry.yaml
  genesis-file:
    file: ./genesis-file.yaml


networks:
  backend:

volumes:
  canis_data:
  etc:
    driver: local
    driver_opts:
      type: local
      device: /data/canis
      o: bind