version: "3.3"
services:
  aries-agent-rest:
    image: aries-framework-go/agent-rest:latest
    command:
      - start
      - "--api-host"
      - "0.0.0.0:5533"
      - "--database-prefix"
      - "mobile-agent"
      - "--database-type"
      - "mem"
      - "--webhook-url"
      - ""
      - "--http-resolver-url"
      - "scr@http://127.0.0.1:5544/did"
      - "--outbound-transport"
      - "ws"
      - "--outbound-transport"
      - "http"
      - "--inbound-host"
      - "ws@0.0.0.0:5522"
      - "--inbound-host-external"
      - "ws@ws://172.17.0.1:5522"
      - "--log-level"
      - "DEBUG"
    ports:
      - "5533:5533"
      - "5522:5522"
    networks:
      - backend
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure

networks:
  backend:

volumes:
  canis_data:
  etc:
    driver: local
    driver_opts:
      type: local
      device: /data/canis
      o: bind