name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    container: scoir/canis-build:latest
    services:
      rabbitmq:
        image: rabbitmq
        ports:
          - 5672:5672
      mongodb:
        image: mongo:4.2.8
        ports:
          - 27017:27017
    steps:
    - name: Set up Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test
      run: make test
      env:
        RABBITMQ_HOST: rabbitmq
        MONGODB_HOST: mongodb

    - name: Upload coverage to Codecov
      timeout-minutes: 5
      run: curl -s https://codecov.io/bash | bash

  publish:
    name: Build Docker Image
    runs-on: ubuntu-18.04
    container: scoir/canis-build:latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v2
      with:
        go-version: 1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build
      run: make

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./docker/canis/Dockerfile
        platforms: linux/amd64

